@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");

h1 {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-color: burlywood;
  text-align: center;
}

nav {
  background-color: aquamarine;
  text-align: center;
}

main {
  background-color: cornflowerblue;
  text-align: center;
}

aside {
  background-color: darkgoldenrod;
  text-align: center;
}

footer {
  background-color: gold;
  text-align: center;
}
